@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* --shiki-light: #aaa;
	--shiki-dark: #aaa; */
}

figcaption {
	text-align: center;
}

span[data-highlighted-line] {
	background: #c8c8ff1a;
}

pre[data-language] {
	overflow-x: auto;
	padding: 1em 0;
}

pre [data-line] {
	padding: 0 1em;
}
